.background-yellow {
    background: #fce47a;
}

.background-green {
    background: #8abd64;
    
}

.background-blue {
    background: #4193b2;
   
}

.background-pink {
    background: #f274bc;
    
}

.background-orange {
    background: #dd844b;

}

.background-purple {
    background: #763a7e;
}
